<html>
    <head>
        <title>{%title%} | Huy's Blog</title>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html;"><meta name=viewport content="initial-scale=1.0 maximum-scale=1.0">
        {%meta%}
        <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
        <link rel="manifest" href="../manifest.json">
        <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&amp;subset=latin-ext,vietnamese" rel="stylesheet">
        <link href="../css/theme.css?t={%hash%}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../css/highlight/tomorrow.css">
        <link rel="stylesheet" href="../css/fontello.css">
        <link rel="stylesheet" href="../emoji/css/messenger.min.css">
        <link rel="stylesheet" href="../emoji/css/thinking.ext.css">
        <script src="../js/highlight.pack.js"></script>
        <script src="../js/autosizing.js"></script>
        <script src="../js/fetch.js"></script>
        <script>
        hljs.initHighlightingOnLoad();
        </script>
    </head>
    <body>
        <div class="header">
          <a href="/"><span class="avatar"></span><span class="header-link">Huy's Blog</span></a> 

          <a class="subscribe right" href="http://eepurl.com/cN5YDv" rel="noopener noreferrer" target="blank">Theo dõi blog này</a>
        </div>
        <div class="container">
            <div class="main">
                {%content%}
                <div class="copyright">
                Bạn được toàn quyền chia sẻ, trích dẫn hoặc copy, post lại, nhưng vui lòng ghi rõ nguồn, tác giả và không làm thay đổi nội dung bài viết. Nếu không làm vậy, thì OK, cũng ko sao, sẽ có thiên lôi thay ta dòm ngó nhà ngươi. 😈
                </div>

                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=462066520669072";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-like" data-href="{%posturl%}" data-width="700" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true" data-colorscheme="dark"></div>
 
                <div class="comments">
                  <div id="comment-loading" class="loading"></div>
                  <div id="login-box" class="login">
                    Bạn nghĩ như thế nào về bài viết này?<br/><button onclick="login()">Tham gia bình luận</button>
                      <div class="copyright">Chức năng này cần liên kết với tài khoản Google<br/>Nếu không thích thì có thể comment <button onclick="goninja()">Nặc danh</button></div>
                  </div>
                  <div id="comment-box" class="comment-input">
                    <div class="avatar">
                      <img id="user-avatar" src="" width="32" height="32"/>
                    </div>
                    <div class="input">
                      <textarea id="comment-content" onkeyup="autoSizing(this)" onkeydown="submitComment(event)" placeholder="Comment gõ vào đây :D"></textarea>
                      <span>Gõ xong nhấn <kbd>Ctrl</kbd> + <kbd>Enter</kbd> để gửi. Bạn không thể xóa comment sau khi gửi.</span>
                      <button id="comment-button" onclick="submitData()">Gửi</button>
                    </div>
                  </div>
                  <ul id="comment-list" class="comment-list"></ul>
                </div>

                <div class="fb-like-box">
                  <div class="fb-page" data-href="https://www.facebook.com/thefullsnackblog" data-width="700" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/thefullsnackblog" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/thefullsnackblog">The Full Snack</a></blockquote></div>
                  <div class="like-bait"></div>
                </div>
            </div>
        </div>
	    <div class="footer">
        <p><a href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img src="https://thefullsnack.com/img/by-nc-nd.png" height="15" /></a></p>
            <p>Created with <a href="http://github.com/huytd/azeroth-js">azeroth.js</a></p>
            <div class="social">
                <a target="_blank" href="http://facebook.com/thefullsnackblog"><i class="icon-facebook-squared"></i></a>
                <a target="_blank" href="http://twitter.com/huydotnet"><i class="icon-twitter-squared"></i></a>
                <a target="_blank" href="http://github.com/huytd"><i class="icon-github-squared"></i></a>
                <a target="_blank" href="https://thefullsnack.com/en"><i class="icon-emo-coffee"></i></a>
            </div>
        </div>
        <script type="text/javascript" async src="../js/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            skipTags: ["script","noscript","style","textarea"],
            ignoreClass: "comment"
          }
        });
        </script>
        <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
        <script>let postCommentURL = '/api/post/{%postslug%}';</script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyA1PnIAlJJ-U6iQJMNnCOknBuziBqGMYcY",
            authDomain: "huys-blog-comment.firebaseapp.com",
            databaseURL: "https://huys-blog-comment.firebaseio.com",
            projectId: "huys-blog-comment",
            storageBucket: "huys-blog-comment.appspot.com",
            messagingSenderId: "317330376829"
          };
          firebase.initializeApp(config);
          var provider = new firebase.auth.GoogleAuthProvider();
          var auth = firebase.auth();
          var currentUser = null;

         var updateAuth = function(user) {
            document.getElementById("comment-loading").style.display = "none";
            if (user) {
                currentUser = user;
                // Logged in
                document.getElementById("login-box").style.display = "none";
                document.getElementById("comment-box").style.display = "flex";
                document.getElementById("user-avatar").setAttribute("src", user.photoURL);
            } else {
                // Not login yet
                document.getElementById("comment-box").style.display = "none";
                document.getElementById("login-box").style.display = "block";
            }
         };

          auth.onAuthStateChanged(function(user) {
              updateAuth(user);
          });

          var login = function() {
            auth.signInWithPopup(provider)
              .then(function(result) {
              }).catch(function(err) {
              });
          };

         var goninja = function() {
             updateAuth({
                displayName: "Không Tên",
                photoURL: "https://thefullsnack.com/img/kaonashi.jpg"
             });
         };

          var encodeHTML = function(s) {
            return s.replace(/</g, '&lt;').replace(/"/g, '&quot;').replace(/>/g, '&gt;');
          };

          var saveNewComment = function(comment) {
            if (!currentUser) {
              return;
            }
            var commentData = {
              username: currentUser.displayName,
              avatar: currentUser.photoURL,
              post_time: ~~((new Date()).getTime() / 1000),
              message: encodeHTML(comment)
            };

              fetch(postCommentURL, {
                  method: 'post',
                  headers: {
                      "Content-Type": "application/json"
                  },
                  body: JSON.stringify(commentData)
              }).then((result) => {
                  if (result.status === 200) {
                      addNewComment(commentData.username, commentData.avatar, commentData.post_time, commentData.message);
                  }
              });

            document.getElementById("comment-content").value = "";
          };

          function debounce(func, wait, immediate) {
            var timeout;
            return function() {
              var context = this, args = arguments;
              var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
              };
              var callNow = immediate && !timeout;
              clearTimeout(timeout);
              timeout = setTimeout(later, wait);
              if (callNow) func.apply(context, args);
            };
          };

          var submitData = debounce(function() {
            var comment = document.getElementById("comment-content").value;
            if (comment.length) {
              saveNewComment(comment);
            }
          }, 250);

          var submitComment = function(e) {
            var keyCode = e.which || e.keyCode;
            var ctrlCode = e.ctrlKey || e.metaKey;
            if (keyCode === 13 && ctrlCode) {
              submitData();
            }
          };

         var filterNewlineInComment = function(t) {
             return t.replace(/\n/g, "<br/>");
         };

          var filterURLinComment = function(comment) {
            return comment.replace(/(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,})/g, "<a target='_blank' rel='noopener noreferrer' href='$1'>$1</a>");
          };

          var addNewComment = function(user, avatar, time, comment) {
            var commentFiltered = encodeHTML(comment);
            commentFiltered = filterNewlineInComment(filterURLinComment(commentFiltered));
            var d = new Date(time * 1000);
            var commentTime = d.toLocaleTimeString() + ' ' + d.toLocaleDateString();
            var html = '<div class="avatar">' +
              '   <img src="' + avatar + '" width="32" height="32"/>' +
              ' </div>' +
              '<div class="comment tex2jax_ignore">' +
              '  <div class="metadata"><b>' + encodeHTML(user) + '</b> lúc <span>' + commentTime + '</span></div>' +
              '  <div class="content">' + commentFiltered
            '  </div>' +
              '</div>';
            var li = document.createElement('li');
            li.innerHTML = html;
            document.getElementById("comment-list").append(li);
          };

         // Fetch comment and put to posts
         fetch(postCommentURL)
             .then(res => res.json())
             .then(data => {
                 if (data.comments) {
                    let comments = data.comments;
                    comments.sort((a, b) => a.post_time - b.post_time);
                    for (let i = 0; i < comments.length; i++) {
                        let cmt = comments[i];
                        addNewComment(cmt.username, cmt.avatar, cmt.post_time, cmt.message);
                    }
                 }
             });

          // Tracking
          var serialize = function(obj) {
            var str = [];
            for(var p in obj)
              if (obj.hasOwnProperty(p)) {
                str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
              }
            return str.join("&");
          };
          var store = localStorage;
          if (store && btoa) {
            var tracker = JSON.parse(store.getItem('huyBlogTracker') || "{}");
            var today = btoa((new Date()).toDateString());
            var currentURL = window.location.href;
            var urlTrackingKey = btoa(currentURL);
            if (!tracker[urlTrackingKey] || tracker[urlTrackingKey] !== today) {
              tracker[urlTrackingKey] = today;
              // Do tracking here
              var trackData = {
                userAgent: navigator.userAgent,
                language: navigator.language,
                url: currentURL,
                refer: document.referrer
              };
              var trackParams = serialize(trackData);
              var trackURL = "https://us-central1-huys-blog-comment.cloudfunctions.net/sayHello?" + trackParams;
              fetch(trackURL).then(function(response) { });
            }
            store.setItem('huyBlogTracker', JSON.stringify(tracker));
          }

          var toggle_wordwise = function(status) {
            var book = document.querySelector("book");
            var on = document.querySelector("#ww_on");
            var off = document.querySelector("#ww_off");
            if (!status) {
              book.className = "off";
              on.className = "btn-toggle";
              off.className = "btn-toggle active";
            } else {
              book.className = "";
              on.className = "btn-toggle active";
              off.className = "btn-toggle";
            }
          };
        </script>
    </body>
</html>
