<html>
    <head>
        <title>{%title%} | Huy's Blog</title>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html;"><meta name=viewport content="initial-scale=1.0 maximum-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
        <link rel="manifest" href="../manifest.json">
        <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&amp;subset=latin-ext,vietnamese" rel="stylesheet">
        <link href="../css/theme.css?t={%hash%}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../css/highlight/tomorrow.css">
        <link rel="stylesheet" href="../css/fontello.css">
        <link rel="stylesheet" href="../emoji/css/messenger.min.css">
        <link rel="stylesheet" href="../emoji/css/thinking.ext.css">
        <script src="../js/autosizing.js"></script>
    </head>
    <body>
        <div class="header">
          <a href="/"><span class="avatar"></span><span class="header-link">Huy's Blog</span></a> 

          <a class="subscribe right" href="http://eepurl.com/cN5YDv" rel="noopener noreferrer" target="blank">Theo dõi blog này</a>
        </div>
        <div class="container">
            <div class="main">
                <h1>{%title%}</h1>
                {%content%}
                {%tags%}
            </div>
        </div>
	    <div class="footer">
        <p><a href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img src="https://thefullsnack.com/img/by-nc-nd.png" height="15" /></a></p>
        <p>Created with <i class="em em-coffee"></i> <a href="http://github.com/huytd/ristretto-rs">ristretto.rs</a></p>
            <div class="social">
                <a target="_blank" href="http://facebook.com/thefullsnackblog"><i class="icon-facebook-squared"></i></a>
                <a target="_blank" href="http://twitter.com/huydotnet"><i class="icon-twitter-squared"></i></a>
                <a target="_blank" href="http://github.com/huytd"><i class="icon-github-squared"></i></a>
                <a target="_blank" href="https://thefullsnack.com/en"><i class="icon-emo-coffee"></i></a>
            </div>
        </div>
    </body>
</html>
